# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# drawio
*.bkp
*.drawio

# Keil µVision 4 specific files
*.axf
*.bak
*.dep
*.htm
*.lnp
*.lst
*.map
*.obj
*.plg
*.tid

# Output directories
Objects/
Listings/

# Temporary and backup files
*.o
*.d
*.bkp
*.aps
*.ini.bak
*.uvguix.*
*.lnk

# Debug files
*.dmp
*.crf
*.uvoptx.bak
*.uvopt.bak

# IDE-specific files (optional)
*.log
*.tmp

# Exclude hidden system files
.DS_Store
Thumbs.db
